<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>                                                                                                                                                                   
    <tr class="vacancy"> 
     <td class="title"><a href="https://bryansk.hh.ru/vacancy/22724637?query=java%20Bryansk">Backend-разработчик / php-программист</a></td> 
     <td class="city">Брянск</td> 
     <td class="companyName">ООО Мако</td> 
     <td class="salary">60&nbsp;000-90&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://bryansk.hh.ru/vacancy/22724637?query=java%20Bryansk">Backend-разработчик / php-программист</a></td> 
     <td class="city">Брянск</td> 
     <td class="companyName">ООО Мако</td> 
     <td class="salary">60&nbsp;000-90&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://bryansk.hh.ru/vacancy/22724637?query=java%20Bryansk">Backend-разработчик / php-программист</a></td> 
     <td class="city">Брянск</td> 
     <td class="companyName">ООО Мако</td> 
     <td class="salary">60&nbsp;000-90&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://bryansk.hh.ru/vacancy/22724637?query=java%20Bryansk">Backend-разработчик / php-программист</a></td> 
     <td class="city">Брянск</td> 
     <td class="companyName">ООО Мако</td> 
     <td class="salary">60&nbsp;000-90&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://bryansk.hh.ru/vacancy/22724637?query=java%20Bryansk">Backend-разработчик / php-программист</a></td> 
     <td class="city">Брянск</td> 
     <td class="companyName">ООО Мако</td> 
     <td class="salary">60&nbsp;000-90&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://bryansk.hh.ru/vacancy/22724637?query=java%20Bryansk">Backend-разработчик / php-программист</a></td> 
     <td class="city">Брянск</td> 
     <td class="companyName">ООО Мако</td> 
     <td class="salary">60&nbsp;000-90&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://bryansk.hh.ru/vacancy/22724637?query=java%20Bryansk">Backend-разработчик / php-программист</a></td> 
     <td class="city">Брянск</td> 
     <td class="companyName">ООО Мако</td> 
     <td class="salary">60&nbsp;000-90&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://bryansk.hh.ru/vacancy/22724637?query=java%20Bryansk">Backend-разработчик / php-программист</a></td> 
     <td class="city">Брянск</td> 
     <td class="companyName">ООО Мако</td> 
     <td class="salary">60&nbsp;000-90&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://bryansk.hh.ru/vacancy/22724637?query=java%20Bryansk">Backend-разработчик / php-программист</a></td> 
     <td class="city">Брянск</td> 
     <td class="companyName">ООО Мако</td> 
     <td class="salary">60&nbsp;000-90&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040687">🔥 Backend Developer for a Blockchain Project</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">KickCity</td> 
     <td class="salary">От 80 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040689">Lead / Senior Backend Developer</a></td> 
     <td class="city">Барселона</td> 
     <td class="companyName">B4Finance</td> 
     <td class="salary">От 3 200 до 4 200 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040679">Java (Clojure)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">CODEFATHER</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040580">Senior Frontend Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ТЕКО</td> 
     <td class="salary">От 100 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040678">Программист С#</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Rendez-Vous</td> 
     <td class="salary">От 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040671">Frontend-разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">LPTREND</td> 
     <td class="salary">От 80 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038752">⚡Бэкенд-разработчик в самый горячий стартап 2018 года</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Magic Unicorn INC</td> 
     <td class="salary">От 120 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040644">Senior Unity Developer (R&amp;D - Porting)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Pixonic</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040643">Senior Unity Developer (R&amp;D - Autotests Platform)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Pixonic</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040441">Senior Full Stack Developer (Javascript, React, Redux, Python), Data-Science</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Лаборатория Касперского</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040628">Back-End Web Developer (Java)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Soshace</td> 
     <td class="salary">От 200 000 до 300 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040622">Старший технический писатель</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Лаборатория Касперского</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040617">Android разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">CryptoUniverse</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040608">Software Engineer in Test</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">KOMANDA Labs</td> 
     <td class="salary">От 130 000 до 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040384">Технический руководитель, менеджер web-проекта</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Откоробки</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040383">Программист-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Откоробки</td> 
     <td class="salary">От 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040587">Мобильный разработчик Android</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">OpenSolutions LLC</td> 
     <td class="salary">От 30 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040586">Test Automation Engineer / QA -Server Side</a></td> 
     <td class="city">Лимассол</td> 
     <td class="companyName">Spotware Systems</td> 
     <td class="salary">От 3 000 до 3 500 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038106">Разработчик Android (java)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Duotek</td> 
     <td class="salary">До 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040471">Android разработчик</a></td> 
     <td class="city">Алматы</td> 
     <td class="companyName">Колёса | Крыша | Маркет</td> 
     <td class="salary">От 300 000 до 500 000 тнг.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040569">Java developer</a></td> 
     <td class="city">Таллин</td> 
     <td class="companyName">Росиндустрия</td> 
     <td class="salary">От 4 000 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040562">Web developer</a></td> 
     <td class="city">Гонолулу</td> 
     <td class="companyName">Shakacode</td> 
     <td class="salary">От 2 000 до 3 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040517">Java/Groovy разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Covergame</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040530">Senior Java developer</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">Smartbics</td> 
     <td class="salary">До 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040524">Java-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">ООО "ТехноКад"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040687">🔥 Backend Developer for a Blockchain Project</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">KickCity</td> 
     <td class="salary">От 80 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040689">Lead / Senior Backend Developer</a></td> 
     <td class="city">Барселона</td> 
     <td class="companyName">B4Finance</td> 
     <td class="salary">От 3 200 до 4 200 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040679">Java (Clojure)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">CODEFATHER</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040580">Senior Frontend Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ТЕКО</td> 
     <td class="salary">От 100 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040678">Программист С#</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Rendez-Vous</td> 
     <td class="salary">От 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040671">Frontend-разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">LPTREND</td> 
     <td class="salary">От 80 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038752">⚡Бэкенд-разработчик в самый горячий стартап 2018 года</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Magic Unicorn INC</td> 
     <td class="salary">От 120 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040644">Senior Unity Developer (R&amp;D - Porting)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Pixonic</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040643">Senior Unity Developer (R&amp;D - Autotests Platform)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Pixonic</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040441">Senior Full Stack Developer (Javascript, React, Redux, Python), Data-Science</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Лаборатория Касперского</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040628">Back-End Web Developer (Java)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Soshace</td> 
     <td class="salary">От 200 000 до 300 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040622">Старший технический писатель</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Лаборатория Касперского</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040617">Android разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">CryptoUniverse</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040608">Software Engineer in Test</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">KOMANDA Labs</td> 
     <td class="salary">От 130 000 до 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040384">Технический руководитель, менеджер web-проекта</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Откоробки</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040383">Программист-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Откоробки</td> 
     <td class="salary">От 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040587">Мобильный разработчик Android</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">OpenSolutions LLC</td> 
     <td class="salary">От 30 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040586">Test Automation Engineer / QA -Server Side</a></td> 
     <td class="city">Лимассол</td> 
     <td class="companyName">Spotware Systems</td> 
     <td class="salary">От 3 000 до 3 500 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038106">Разработчик Android (java)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Duotek</td> 
     <td class="salary">До 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040471">Android разработчик</a></td> 
     <td class="city">Алматы</td> 
     <td class="companyName">Колёса | Крыша | Маркет</td> 
     <td class="salary">От 300 000 до 500 000 тнг.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040569">Java developer</a></td> 
     <td class="city">Таллин</td> 
     <td class="companyName">Росиндустрия</td> 
     <td class="salary">От 4 000 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040562">Web developer</a></td> 
     <td class="city">Гонолулу</td> 
     <td class="companyName">Shakacode</td> 
     <td class="salary">От 2 000 до 3 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040517">Java/Groovy разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Covergame</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040530">Senior Java developer</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">Smartbics</td> 
     <td class="salary">До 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040524">Java-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">ООО "ТехноКад"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034150">Бэкенд-разработчик (Ruby on Rails)</a></td> 
     <td class="city"></td> 
     <td class="companyName">FunBox</td> 
     <td class="salary">От 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040513">Scala developer ( Senior/ Middle )</a></td> 
     <td class="city">Иннополис</td> 
     <td class="companyName">Innopolis City</td> 
     <td class="salary">От 120 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040495">Разработчик Oracle</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Центральный банк Российской Федерации</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040496">Разработчик Java</a></td> 
     <td class="city">Казань</td> 
     <td class="companyName">Центральный банк Российской Федерации</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040498">Главный эксперт (разработка и тестирование ПО)</a></td> 
     <td class="city">Томск</td> 
     <td class="companyName">Центральный банк Российской Федерации</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040489">QA Engineer/Инженер-тестировщик/Инженер автоматизационного тестирования</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ATH American Express</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033669">React Native / React.JS программист удалённо</a></td> 
     <td class="city"></td> 
     <td class="companyName">Start Mobile</td> 
     <td class="salary">От 55 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040353">QA Automation Lead</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Райффайзенбанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040482">Разработчик JavaScript (Дебетовые карты)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Райффайзенбанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040477">Java developer (full stack / back end)</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">EGAR Technology</td> 
     <td class="salary">От 50 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038936">Lead Java Backend Developer (Ведущий Java разработчик, бэкенд)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Social Quantum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040463">Руководитель группы разработки (IOS или Android) (или 2 вакансии или 2 в 1)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Компания БКС</td> 
     <td class="salary">От 150 000 до 300 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040459">Системный архитектор Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">X5 Retail Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040357">🤖 Android Engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Zerion</td> 
     <td class="salary">От 100 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000037257">Senior ​​​​​​​Front-end Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Pixonic</td> 
     <td class="salary">От 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040443">Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Equipage</td> 
     <td class="salary">От 150 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033752">ANDROID HMI DEVELOPER</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">HARMAN Connected Services</td> 
     <td class="salary">От 100 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040440">Full stack web developer (php, javascript)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ВиртуалПос</td> 
     <td class="salary">До 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031898">Младший разработчик приложений</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">МАКСИДОМ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038159">🤖 QA Automation Engineer (Backend)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ManyChat</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000020115">Frontend разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Онлайн-кинотеатр ivi</td> 
     <td class="salary">От 130 000 до 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040201">Программист C#</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">ZennoLab</td> 
     <td class="salary">От 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000037550">QA-Специалист</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">OpenSolutions LLC</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040413">Android Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">FutureComes Family</td> 
     <td class="salary">До 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040409">Специалист по защите веб-приложений</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Яндекс.Деньги</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040404">TeamLead/Архитектор Java</a></td> 
     <td class="city"></td> 
     <td class="companyName">Компания "Аплана. Центр разработки" (...</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039008">Android разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">OK Saturday</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000037407">Java developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Такском</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026082">Разработчик мобильных приложений (Android)</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Точка - банк для предпринимателей</td> 
     <td class="salary">До 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038735">System Administrator / DevOps</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">TraceAir</td> 
     <td class="salary">От 120 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040370">Senior java developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Soft-staff</td> 
     <td class="salary">До 205 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040366">JS Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">TraceAir</td> 
     <td class="salary">От 120 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040348">Java Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Яндекс.Деньги</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000037889">Инженер по автоматизации тестирования</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Точка - банк для предпринимателей</td> 
     <td class="salary">До 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040325">Java - разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Филиал СОВА КАПИТАЛ ЛИМИТЕД в городе ...</td> 
     <td class="salary">От 170 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033303">Frontend разработчик / Frontend Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Marilyn</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040311">Java developer</a></td> 
     <td class="city">Томск</td> 
     <td class="companyName">Sidenis</td> 
     <td class="salary">До 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039413">Java-разработчик</a></td> 
     <td class="city">Томск</td> 
     <td class="companyName">Sidenis</td> 
     <td class="salary">До 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032615">программист Java</a></td> 
     <td class="city">Томск</td> 
     <td class="companyName">Sidenis</td> 
     <td class="salary">До 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040293">Frontend Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Loyalty Plant</td> 
     <td class="salary">От 110 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039394">Senior Python Developer, Gaming Platform</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039444">Ведущий разработчик Frontend (ОФД)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">МТС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040180">Старший разработчик мобильных приложений (iOS/Android)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Интерактивное агентство AGIMA</td> 
     <td class="salary">От 150 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040181">Ведущий системный администратор/ DevOps</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Интерактивное агентство AGIMA</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040182">Mobile QA engeneer/Инженер-тестировщик мобильных приложений (iOS, android)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Интерактивное агентство AGIMA</td> 
     <td class="salary">От 70 000 до 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039372">Backend-разработчики</a></td> 
     <td class="city">Калининград</td> 
     <td class="companyName">Hr_клуб</td> 
     <td class="salary">От 2 000 до 3 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040273">Senior Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Webdom</td> 
     <td class="salary">От 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038778">Python разработчик в команду машинного обучения</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">СКБ Контур</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039807">Опытный Java-разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">СКБ Контур</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039440">Старший серверный разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Wheely</td> 
     <td class="salary">До 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038581">Разработчик Python (backend)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Ювелирная сеть 585GOLD</td> 
     <td class="salary">От 150 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038582">Front-end JavaScript Developer (React)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Ювелирная сеть 585GOLD</td> 
     <td class="salary">От 150 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034245">Программист ASP.NET MVC + AngularJS</a></td> 
     <td class="city">Калининград</td> 
     <td class="companyName">HR_Kaliningrad</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040241">Technical Project Manager (Big Data)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">МТС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039398">Android - разработчик</a></td> 
     <td class="city">Тюмень</td> 
     <td class="companyName">Mint Rocket</td> 
     <td class="salary">От 40 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040224">Full Stack Веб-Разработчик-Перфекционист</a></td> 
     <td class="city"></td> 
     <td class="companyName">FraudEver</td> 
     <td class="salary">От 101 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040025">​Go (Golang) разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Nesthorn GmbH</td> 
     <td class="salary">От 100 000 до 220 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000036968">Ruby on Rails разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Elonsoft</td> 
     <td class="salary">От 40 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040218">Android Engineer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Messapps</td> 
     <td class="salary">От 60 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040213">QA Automation engineer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Dino Systems (DINS)</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040211">Senior Python разработчик (Черногория)</a></td> 
     <td class="city"></td> 
     <td class="companyName">First Recruiting Group</td> 
     <td class="salary">От 3 200 до 4 300 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040199">Fullstack разработчик игр</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Alternativa Games</td> 
     <td class="salary">От 65 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039569">Аналитик CRM</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">АО Группа "СВЭЛ"</td> 
     <td class="salary">До 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034161">Middle Front-end / JavaScript Разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">CODEFATHER</td> 
     <td class="salary">От 50 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040179">Java-разработчик</a></td> 
     <td class="city">Белгород</td> 
     <td class="companyName">Фабрика информационных технологий</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040177">Руководитель отдела java-разработки</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Уральский банк реконструкции и развития</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040167">Разработчик мобильных приложений</a></td> 
     <td class="city"></td> 
     <td class="companyName">Kernel Web</td> 
     <td class="salary">От 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039546">Программист Oracle</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Телекоммуникационная группа МОТИВ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000036417">Java разработчик в Big Data</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">МТС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000035580">Java/ IntelliJ IDEA Plugin Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Nitka Technologies, Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040145">Программист MS Share Point</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ПаллетТрейд</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040144">Ведущий разработчик Java</a></td> 
     <td class="city">Волгоград</td> 
     <td class="companyName">ООО "Эксперт Энерго"</td> 
     <td class="salary">До 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040136">Java Tech Lead</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">МойСклад</td> 
     <td class="salary">От 200 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040137">Senior Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">МойСклад</td> 
     <td class="salary">От 160 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022018">Java разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Точка - банк для предпринимателей</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040138">Менеджер проекта - Разработчик криптовалютного кошелька</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ESholdinG</td> 
     <td class="salary">От 150 000 до 350 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040135">Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">TetraSoft LLC</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040127">Разработчик Android</a></td> 
     <td class="city">Ярославль</td> 
     <td class="companyName">ООО "Интернет-Технологии"</td> 
     <td class="salary">От 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040050">Senior Android Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Xunison Ltd</td> 
     <td class="salary">От 2 000 до 3 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040122">Senior iOS Developer (Remote)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Netronix</td> 
     <td class="salary">От 2 500 до 3 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000035490">Java Developer</a></td> 
     <td class="city">Казань</td> 
     <td class="companyName">Тенет</td> 
     <td class="salary">От 60 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040081">iOS Developer ( Разработка решения SERVICE DESK)</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Naumen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040076">Full-stack разработчик чат-ботов на удаленку</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">Ruka Group</td> 
     <td class="salary">До 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040068">Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Онлайн-кинотеатр ivi</td> 
     <td class="salary">От 140 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040064">Oracle DBA</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Авто49</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038459">Middle / Senior Ruby разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Seendex</td> 
     <td class="salary">До 210 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033413">Senior Java Developer (BackEnd)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Pixonic</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040036">Senior Android</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">CORE</td> 
     <td class="salary">От 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040022">Java-разработчик</a></td> 
     <td class="city">Омск</td> 
     <td class="companyName">Райффайзенбанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000020412">Frontend developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">TetraSoft LLC</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000035241">Ведущий специалист тестирования</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">АКБ РосЕвроБанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039992">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Mainex</td> 
     <td class="salary">От 90 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039958">Kotlin/Java developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">United Traders</td> 
     <td class="salary">До 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039879">Senior/Middle Java Developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Петер-Сервис</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040003">Product Manager</a></td> 
     <td class="city"></td> 
     <td class="companyName">FraudEver</td> 
     <td class="salary">От 101 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039991">Senior Java Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Ronte Limited</td> 
     <td class="salary">От 200 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039989">Android Team Lead (удаленно)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Ronte Limited</td> 
     <td class="salary">От 200 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000035947">Специалист QA/Специалист по тестированию</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Деловая среда от Сбербанка</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039968">Разработчик Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Компания БКС</td> 
     <td class="salary">До 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039962">Senior Android and iOS Developer(s)</a></td> 
     <td class="city"></td> 
     <td class="companyName">CODJA</td> 
     <td class="salary">От 120 000 до 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039957">DevOps - Support level 2</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Компания БКС</td> 
     <td class="salary">От 150 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039915">Team Lead / Full Stack Developer (PHP, Vue.js)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО "Пегас Туристик"</td> 
     <td class="salary">От 150 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032007">java - разработчик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">СДЭК</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>